
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
/* GLOBAL */ 

p {
    margin-top:  0.9375rem;
    margin-bottom: 0.9375rem;
}

h2 {
    font-size: 1.75rem;
    line-height: 2.125rem;
    font-weight: 400;
    margin-top: 2.188rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25rem;
}

.logo-img {
    width: 12.188rem;
}

img {
    width: 100%;
}

.display-flex {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.iconos-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15rem;
}

a {
    color: black;
    text-decoration: none;
}

.links {
    color: #326891;
    text-decoration: underline;
}

.container{
    width: 50rem;
    margin: 0 auto;
    /*border: solid 2px black;*/
}

.underline{
    text-decoration: underline;
}

figcaption{
    font-size: 0.8125rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

h4 {
    color: rgb(51, 51, 51);
    font-size: 0.813rem;
    font-weight: 700;
    line-height: 15px;
    margin: 0px;
    text-transform: uppercase;
}

h3 {
    margin-top: 1rem;
}

.margin {
    margin: 1rem 0;
}

/* HEADER */

header {
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
}

.header-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.25px;
    font-weight: 700;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100.313rem;
    margin: 0 auto;
    height: 36px;
    padding: 4px 15px 2px 15px;
}

#menu-icon {
    width: 1.25rem;
}

.header-content-buttons {
    display: flex;
    gap: 1rem;
    align-content: center;
}

.button {
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    cursor: pointer;
}

/* MAIN */

.main-content p {
    font-size: 1.25rem;
    line-height: 1.875rem;
}


.h1-n1 {
    font-style: italic;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    line-height: 3rem;
}

.h1-n2 {
    font-size: 2.5rem;
    font-weight: 100;
    font-style: normal;
    line-height: 3.4375rem;
    text-align: left;
}

#img-main {
    margin-top: 1.563rem;
    margin-bottom: 1.563rem;
}

.main-margin {
    margin-top: 3.75rem;
}

.container-main {
    width: 37.5rem;
    margin: 1.563rem auto;
    /*border: solid 2px black;*/
}

.author-img {
    width: 3.125rem;
    margin-right: 0.625rem;
    margin-bottom: 15px;
}

#author-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    font-weight: 700;
}

.main-content {
    text-align: left;
}

/* SECTIONS */ 

.section-container {
    width: 75rem;
    margin: 2.813rem auto;
}

.grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1.5fr 0.5fr;
}

.sect-content-flex {
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    font-size: 1rem;
    color: black;
    border-top: solid 1px black;
}

.section-content {
    margin: 0.5rem 0.5rem 0.5rem 0;
    width: 32%;
}

.section-content a figure img {
    justify-content: center;
    width: 100%;
}

.section-content a figure figcaption {
    font-size: 0.625rem;
    text-align: right;
}

.section-content a h3 {
    color: black;
    line-height: 1.375rem;
    font-weight: 500;
    font-size: 1.125rem;
}

/* SECT MOST POPULAR */

.section-pop h3 {
    border-top: 1px solid rgb(226, 226, 226);
    padding: 15px 0px;
}

.section-pop h3 a {
    font-size: 1.1875rem;
    text-decoration: none;
    color: black;
}

/* NAVIGATION */

.nav-container {
    border-top: double;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    margin-top: 0.625rem;
}

.nav-content h3 {
    font-family: sans-serif;
    color: rgb(51, 51, 51);
    font-size: 0.813rem;
    font-weight: 700;
    height: 1.563rem;
    line-height: 0.938rem;
    margin: 0px;
    text-transform: uppercase;
    width: 9.375rem;
}

.nav-content a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 1rem;
}

#go-home {
    margin: 1.125rem 0 0 0;
    font-size: 0.688rem;
    color: rgb(86, 123, 149);
    font-weight: 400;
    line-height: 11px;
    text-decoration: none;
}

#subscribe {
    padding-left: 1rem;
    border-left: solid 1px #666;
}

.ul-sub ul li a {
    font-weight: 900;
}

#ul-sub-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#ul-sub-2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: solid 1px #666;
}


/* FOOTER */

.footer-container {
    padding-top: 0.563rem;
    border-top: solid 1px #666;
}

.footer-container nav ul {
    display: flex;
    justify-content: space-between;
}

.footer-container nav ul li a {
    font-size: 0.7rem;
    color: #666;
}